
/* tooltip primary
   ========================================================================== */
.tooltip span.primary {
    background: #1ba2eb;
    color: #fff;
}

.tooltip .primary.top::after {
    border-top-color: #1ba2eb;
}

.tooltip .primary.bottom::after {
    border-bottom-color: #1ba2eb;
}

.tooltip .primary.right::after {
    border-right-color: #1ba2eb;
}

.tooltip .primary.left::after {
    border-left-color: #1ba2eb;
}

/* tooltip common
   ========================================================================== */
.tooltip span.common  {
    background: #545454;
    color: #fff;
}

.tooltip .common.top::after {
    border-top-color: #545454;
}

.tooltip .common.bottom::after {
    border-bottom-color: #545454;
}

.tooltip .common.right::after {
    border-right-color: #545454;
}

.tooltip .common.left::after {
    border-left-color: #545454;
}

/* tooltip success
   ========================================================================== */
.tooltip span.success   {
    background: #52d064;
    color: #fff;
}

.tooltip .success.top::after {
    border-top-color: #52d064;
}

.tooltip .success.bottom::after {
    border-bottom-color: #52d064;
}

.tooltip .success.right::after {
    border-right-color: #52d064;
}

.tooltip .success.left::after {
    border-left-color: #52d064;
}

/* tooltip warning
   ========================================================================== */
.tooltip span.warning   {
    background-color: #ffd965;
    color: #a76600;
}

.tooltip .warning.top::after {
    border-top-color: #ffd965;
}

.tooltip .warning.bottom::after {
    border-bottom-color: #ffd965;
}

.tooltip .warning.right::after {
    border-right-color: #ffd965;
}

.tooltip .warning.left::after {
    border-left-color: #ffd965;
}

/* tooltip danger
   ========================================================================== */
.tooltip span.danger   {
    background-color: #ff3e59;
    color: #fff;
}

.tooltip .danger.top::after {
    border-top-color: #ff3e59;
}

.tooltip .danger.bottom::after {
    border-bottom-color: #ff3e59;
}

.tooltip .danger.right::after {
    border-right-color: #ff3e59;
}

.tooltip .danger.left::after {
    border-left-color: #ff3e59;
}
