
/* tooltip primary
   ========================================================================== */
.tooltip span.primary {
    background: #1ba2eb;
    color: #fff;
}

.tooltip .top.primary::after {
    border-top-color: #1ba2eb;
}

.tooltip .bottom.primary::after {
    border-bottom-color: #1ba2eb;
}

.tooltip .right.primary::after {
    border-right-color: #1ba2eb;
}

.tooltip .left.primary::after {
    border-left-color: #1ba2eb;
}

/* tooltip common
   ========================================================================== */
.tooltip span.common  {
    background: #545454;
    color: #fff;
}

.tooltip .top.common::after {
    border-top-color: #545454;
}

.tooltip .bottom.common::after {
    border-bottom-color: #545454;
}

.tooltip .right.common::after {
    border-right-color: #545454;
}

.tooltip .left.common::after {
    border-left-color: #545454;
}

/* tooltip success
   ========================================================================== */
.tooltip span.success   {
    background: #52d064;
    color: #fff;
}

.tooltip .top.success::after {
    border-top-color: #52d064;
}

.tooltip .bottom.success::after {
    border-bottom-color: #52d064;
}

.tooltip .right.success::after {
    border-right-color: #52d064;
}

.tooltip .left.success::after {
    border-left-color: #52d064;
}

/* tooltip warning
   ========================================================================== */
.tooltip span.warning   {
    background-color: #ffd965;
    color: #a76600;
}

.tooltip .top.warning::after {
    border-top-color: #ffd965;
}

.tooltip .bottom.warning::after {
    border-bottom-color: #ffd965;
}

.tooltip .right.warning::after {
    border-right-color: #ffd965;
}

.tooltip .left.warning::after {
    border-left-color: #ffd965;
}

/* tooltip danger
   ========================================================================== */
.tooltip span.danger   {
    background-color: #ff3e59;
    color: #fff;
}

.tooltip .top.danger::after {
    border-top-color: #ff3e59;
}

.tooltip .bottom.danger::after {
    border-bottom-color: #ff3e59;
}

.tooltip .right.danger::after {
    border-right-color: #ff3e59;
}

.tooltip .left.danger::after {
    border-left-color: #ff3e59;
}
